$high: #212B36;
$mid: #637381;
$low: #919EAB;
$dark-high: #FFFFFF;
$dark-mid: #CCCDD7;
$dark-low: #919EAB;
$line: #CCCCCC;
$primary: #8D1D58;
$secondary: #402020;
$surface: #FCF7F7;
$success: #3EB658;
$error: #F94C43;
$white: #fff;
$black: #000000;
$btn-hover: #141A21;
