.recipe-listing{
  padding-bottom: 32px;
  .recipe-listing-header {
    padding-top: 40px;
    padding-bottom: 40px;
    @include ultra-mobile {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .this-content-wrapper {
      height: 100%;
      max-width: 432px;
      @include flex-start-center;
      padding-left: 16px;
      padding-bottom: 17px;
      @include desktop {
        padding-left: 0;
      }
      @include ultra-mobile {
        padding-top: 32px;
        padding-bottom: 0;
        max-width: 100%;
      }
      .this-content {
        text-align: center;
        h1 {
          margin-bottom: 17px;
          @include tablet {
            font-size: 40px;
            line-height: 45px;
          }
          @include mobile {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 13px;
          }
        }
        // p.bl {
        //   margin-bottom: 40px;
        //   @include tablet {
        //     margin-bottom: 32px;
        //   }
        // }
        .fill-btn {
          width: 184px;
        }
      }
    }
  }
  .BBSW-deropdown {
    @include mobile-above {
      margin-top: 26px;
      margin-bottom: 10px;
    }
    .browse-btn-wrapper {
      @include mobile-above {
        display: none;
      }
      padding: 5px 0;
      margin-top: 16px;
      border-top: 1px solid $line;
      border-bottom: 1px solid $line;
      margin-bottom: 32px;
      .browse-btn {
        @include flex-center-center;
        padding: 10px 0;
        img {
          @include hw(24px);
          margin-right: 8px;
        }
        p.ts {
          text-transform: uppercase;
          margin-top: 3px;
        }
      }
    }
    .i-filter {
      .i-filter-header {
        @include mobile-above {
          display: none;
        }
        @include flex-between-center;
        padding: 20px 12px 16px 12px;
        img {
          @include hw(24px);
        }
      }
      .i-filter-footer {
        @include mobile-above {
          display: none;
        }
        padding: 20px 12px 24px 12px;
        @include flex-between-center;
        .fill-btn,
        .border-btn {
          width: calc(50% - 8px);
        }
      }
      @include mobile {
        position: fixed;
        width: 100%;
        background: #fff;
        top: 0;
        height: 100vh;
        left: -100%;
        transition: all 300ms ease;
        z-index: 999;
        &.active {
          left: 0;
          transition: all 300ms ease;
        }
      }
    }
    .menu-wrapper {
      @include mobile-above {
        @include flex-center-center;
        p.tm {
          margin-bottom: 0;
          margin-right: 40px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      @include mobile {
        padding: 0 12px 12px;
        overflow-y: auto;
        height: calc(100% - 64px);
        p.tm {
          text-transform: uppercase;
          margin-bottom: 18px;
        }
      }
    }
  }
  .recipe-listing-content{
    padding-top: 60px;
    padding-bottom: 24px;
    @include ultra-mobile {
      padding-top: 44px;
      padding-bottom: 1px;
    }
    @include mobile{
      padding-bottom: 24px;
      padding-top: 16px;
    }
    .this-header {
      text-align: center;
      h4 {
        margin-bottom: 22px;
        @include mobile {
          margin-bottom: 14px;
        }
      }
      .pages-link {
        margin-bottom: 42px;
        @include mobile {
          margin-bottom: 34px;
        }
      }
    }
    .video-boxes{
      margin-bottom: 22px;
      @include mobile{
        margin-bottom: 6px;
      }
      .iframe-container{

      }
      .content-wrapper{
        padding: 18px 0;
        .bl{
          text-align: center;
          display: block;
          @include prefix(transition, all 300ms ease-in);
          &:hover{
            cursor: pointer;
            color: $mid;
          }
        }
      }
    }
    .row{
      margin-left: -14px;
      margin-right: -14px;
      & > *{
        padding-left: 14px;
        padding-right: 14px;
      }
    }
  }
}