.order-details{
  padding-top: 4px;
  @include ultra-mobile{
    padding-top: 23px;
  }
  .back-btn-header{
    position: relative;
    padding-bottom: 19px;
    border-bottom: 1px solid $line;
    .back-btn{
      position: absolute;
      top: 4px;
      left: -48px;
      @include hw(24px);
      cursor: pointer;
      @include desktop{
        left: -39px;
      }
      @include tablet{
        display: none;
      }
    }
    h4{
      @include mobile{
        font-size: 28px;
        line-height: 36px;
      }
    }
  }

  .status-date{
    padding-top: 24px;
    padding-bottom: 15px;
    padding-right: 100px;
    position: relative;
    border-bottom: 1px solid $line;
    @include tablet{
      padding-top: 18px;
      padding-right: 0;
      padding-bottom: 17px;
    }
    p.bl.date{
      position: absolute;
      top: 16px;
      right: 0;
      @include tablet{
        position: static;
        margin-bottom: 16px
      }
    }
    .key-value{
      @include flex-start-start;
      margin-bottom: 8px;
      @include mobile{
        margin-bottom: 12px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      .key{
        width: 160px;
        padding-top: 2px;
        @include mobile{
          width: 116px;
        }
      }
      .value{
        width: calc(100% - 160px);
        @include mobile{
          width: calc(100% - 116px);
        }
      }
      span{
        display: block;
      }
    }
  }
  .delivery-address{
    padding-top: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid $line;
    @include mobile{
      padding-top: 18px
    }
    .key-value{
      @include flex-start-start;
      margin-bottom: 8px;
      @include mobile{
        display: block;
      }
      &:last-child{
        margin-bottom: 0;
      }
      .key{
        width: 160px;
        padding-top: 2px;
        @include mobile{
          padding-top: 0;
          margin-bottom: 18px;
          width: 100%;
        }
      }
      .value{
        width: calc(100% - 160px);
        @include mobile{
          width: 100%;
        }
        span{
          @include mobile{
            margin-bottom: 8px;
          }
          &::last-child{
            margin-bottom: 0;
          }
        }
      }
      span{
        display: block;
      }
    }
  }

  .items-ordered{
    padding-top: 36px;
    @include mobile{
      padding-top: 28px
    }
    .rac-table-wrapper{
      @include flex-start-start;
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid $line;
      img{
        @include hw(120px);
        margin-right: 16px;
        cursor: pointer;
      }
      .rac-table{
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
        width: calc(100% - 136px);
        @include tablet{
          display: block;
        }
      }
      .rac-row{
        display: table-row;
        border-collapse: collapse;
        @include tablet{
          display: block;
        }
      }
      .rac-column{
        display: table-cell;
        border-collapse: collapse;
        vertical-align: middle;
        padding-top: 8px;
        &:nth-child(1){
          width: 65%;
        }
        &:nth-child(2){
          width: 15%;
        }
        &:nth-child(3){
          width: 20%;
          text-align: right;
        }
        @include tablet{
          display: block;
          width: 100% !important;
          padding-top: 0 !important;
          padding-bottom: 8px !important;
          text-align: left !important;
        }
      }
    }
  }

  
  .order-summary{
    max-width: 368px;
    margin-left: auto;
    margin-top: 44px;
    @include tablet{
      max-width: unset;
    }
    p.tl{
      padding-bottom: 15px;
      border-bottom: 1px solid $line;
      margin-bottom: 12px;
    }
    .hr{
      border-top: 1px solid $line;
      width: 100%;
      margin-top: 1px;
      margin-bottom: 12px;
    }
    .value-table, .total-table{
      width: 100%;
      border: 0;
      padding: 0;
      border-collapse: collapse;
      tr{
        td{
          padding-top: 4px;
          padding-bottom: 4px;
          &:last-child{
            text-align: right;
          }
        }
      }
    }
  }
  
}