.account-deletion-popup{
  .modal-dialog{
    @include mobile-above{
      max-width: 472px;
    }
    .modal-body{
      padding: 40px;
      @include mobile{
        padding: 33px 24px 40px 24px;
      }
      h6{
        margin-bottom: 9px;
        @include mobile{
          font-size: 24px;
          line-height: 32px;
        }
      }
      .this-btn-block{
        margin-top: 26px;
        @include flex-between-center;
        .fill-btn, .border-btn{
          width: calc(50% - 12px);
          @include mobile{
            width: 100%;
          }
        }
        @include mobile{
          display: block;
          margin-top: 22px;
          .border-btn{
            margin-top: 24px;
          }
        }
      }
    }
  }
}