.signup{
  .remember-forgot{
    margin-top: 16px;
  }
  .fill-btn{
    margin-top: 32px;
    width: 100%;
  }
  .content-link{
    margin-top: 26px;
    text-align: center;
    .pages-link{
      margin-left: 8px;
    }
  }
  .mt-28{
    margin-top: 28px;
  }
}