<strong>Additional ingredients to assemble</strong>
<ul>
  <li>1 cup water</li>
  <li>4 tablespoons unsalted butter</li>
  <li>4 large eggs</li>
</ul>

<strong>Pans and other tools to assemble</strong>
<ul>
  <li>2 (9-inch) round cake pans</li>
  <li>Small saucepan</li>
  <li>Whisk</li>
  <li>Medium bowl</li>
  <li>Sifter</li>
  <li>Stand mixer or electric hand mixer and large bowl</li>
  <li>Rubber or silicone spatula</li>
  <li>Offset or straight spatula</li>
</ul>

<h6>Instructions</h6>
<ol>
  <li>Position a rack in the middle of the oven and preheat to 350°F. Lightly grease with nonstick spray two 9-inch
    round cake pans and line the bottom of each pan with a circle of parchment.</li>
  <li>In a small saucepan over low heat, bring the water to a simmer (look for wisps of steam and small bubbles rising
    to the top), then immediately remove the pan from the heat and whisk in the milk powder, butter, and safflower oil
    until the butter melts completely. Set aside to cool to room temperature. </li>
  <li>Sift the artisan cake flour into a medium bowl and set aside. </li>
  <li> In a stand mixer with the whisk attachment (or in a large mixing bowl using an electric hand mixer), beat the
    sugar and 4 eggs on medium-high speed until the mixture has tripled in size and lightened in color, 4 to 6
    minutes. Mix in the vanilla extract.</li>
  <li>Add the sifted flour and milk mixture to the mixing bowl. Mix on low speed until the dry ingredients are almost
    fully incorporated.</li>
  <li>With a rubber or silicone spatula, scrape the bottom and sides of the bowl, then gently fold the batter a few
    times to incorporate any remaining flour. (Starting at the back of the bowl, cut down through the batter with the
    spatula, swipe the spatula toward you across the bottom of the bowl, and bring it up the nearest side; rotate the
    bowl after each fold.) Fold the batter just until no more dry flour remains in the bowl. (If you mix it too much,
    the cake may turn out too dense or fragile.) </li>
  <li>Divide the batter evenly between the two prepared pans (about 2½ cups in each), and place the pans on the middle
    rack in the oven. </li>
  <li>Bake until the provided Damask toothpick comes out clean when you insert it into the center of each cake, 26 to
    30 minutes. If you have a thermometer, the internal temperature will be between 205 and 210 degrees.</li>
  <li>Remove the cakes from the oven and let them cool for 15 minutes in the pans. Then, loosen the cakes by running a
    thin knife along the inside edges of the pans. Using the easy-lift handles on the parchment paper, pull the cakes
    out of the pans and place them on the wire rack to cool completely. </li>
  <li>When the cakes have cooled completely, about twenty minutes , peel off the parchment paper. </li>
  <li>If frosting was purchased, continue to the frosting recipe.</li>
</ol>