<div class="our-story-header">
  <h1>The Damask Story</h1>
  <h5>We began with a simple idea so that you could experience baking made simple. We believe that everyone, yes
    everyone, can bake from scratch. The trouble is that baking from scratch is time-consuming and unpredictable. So,
    we created a better way.</h5>
</div>
<div class="our-story-box reverse">
  <div class="OSB-img">
    <img src="" alt="">
  </div>
  <div class="OSB-content">
    <p class="bl">First, we sourced the finest, all natural, non-gmo and gluten-free ingredients. We’re talking about
      velvety chocolate, bursts of fresh fruit goodness and the homey taste of real vanilla.</p>
  </div>
</div>
<div class="our-story-box ">
  <div class="OSB-img">
    <img src="" alt="">
  </div>
  <div class="OSB-content">
    <p class="bl">First, we sourced the finest, all natural, non-gmo and gluten-free ingredients. We’re talking about
      velvety chocolate, bursts of fresh fruit goodness and the homey taste of real vanilla.</p>
  </div>
</div>
<div class="our-story-box reverse">
  <div class="OSB-img">
    <img src="" alt="">
  </div>
  <div class="OSB-content">
    <p class="bl">First, we sourced the finest, all natural, non-gmo and gluten-free ingredients. We’re talking about
      velvety chocolate, bursts of fresh fruit goodness and the homey taste of real vanilla.</p>
  </div>
</div>
<div class="our-story-box ">
  <div class="OSB-img"><img src="" alt=""></div>
  <div class="OSB-content">
    <p class="bl">First, we sourced the finest, all natural, non-gmo and gluten-free ingredients. We’re talking about
      velvety chocolate, bursts of fresh fruit goodness and the homey taste of real vanilla.</p>
  </div>
</div>
<div class="our-story-footer">
  <h4>Meet the Horan Family</h4>
  <img src="" alt="">
  <p class="bl">Picture the scene: A bustling, messy kitchen, mom and kids hard at work. The timer was signaling that
    something was done baking, although exactly what that was, Denisse Horan and her two young children had no idea.
    Most of the cake batter was still on the counter and spilled on the floor. All this chaos just to bake a chocolate
    cake from scratch on Father’s Day.<br><br>Baking a cake for a special day seemed to be a straightforward task. But
    the Horan family never realized how precise and difficult it was to bake a cake from scratch. Everything that
    could have gone wrong, went wrong that day. The instructions seemed endless. Tristan accidentally whisked in the
    sugar before the milk and butter mixture had reached room temperature. Arianne added too much flour into the
    mixing bowl. Denisse helplessly tried to “fold” a batter mixture that was rapidly beginning to resemble concrete.
    The result? A two-tier cake with melting frosting and decorations that somehow read, “Nappy Fat Day.” Despite it
    all, Chris Horan, absolutely loved that cake.<br><br>Years later, our family still talks about that misguided
    attempt to bake a cake. Sure, the result wasn’t what we hoped, but we did make a lot of memories. And therein lies
    the magic of it all. We are not a family of bakers, but we still shared in the joy of baking together. Looking
    back, we realized there had to be a better way. A way to enjoy the fun of baking and the satisfaction of creating
    something we’d be proud to share. Damask was born.<br><br>Denisse partnered with a team of pastry chefs to create
    pre-measured baking kits that are not only delicious, but are also foolproof. Her mission is to make sure that
    everyone can unlock the true joy of baking from scratch. Because when someone else takes care of all the stressful
    shopping, measuring and second guessing, what you’re left with is a moment worth celebrating. You made it. And
    that’s what matters.</p>
</div>